<ion-view view-title="Chi Siamo" class="bg">
    <ion-content>
        
          <p class="padding" style="text-align: justify;"> 
            La Rete  del Programma Famiglia, Caregiver e Persona: la rete di sostegno, sostenuto da Fondazione con il Sud, nasce per offrire a famiglie, caregiver e persone  un supporto  qualificato anche attraverso l’utilizzo  di un’innovativa banca del tempo virtuale. Grazie al rafforzamento della rete stessa, con il  coinvolgimento degli attori territoriali  ed il reperimento di nuovi volontari opportunamente formati, la Rete restituirà alle famiglie/caregiver ed ai pazienti momenti di “normalità” , sostenendoli con nuove tecniche di assistenza sociale: clown terapia, musicoterapia, orto terapia, momenti di socializzazione, gruppi mutuo aiuto.
            La rete è composta da sei Associazioni: 
            Chiara Paradiso-la forza dell’amore Onlus (Soggetto Responsabile): nata a Bellizzi nel 2009,  persegue  finalità di solidarietà socio-sanitarie a favore del bambino oncologico e della sua famiglia. E’ presente nel reparto DH di oncoematologia pediatrica dell’Ospedale Umberto I di Nocera  Inferiore (SA)
            collabora con diverse associazioni regionali e nazionali ed enti del territorio salernitano.


        </p>


    </ion-content>
</ion-view>
