<ion-view view-title="Come Funziona" class="bg">
  <ion-content>
    
    
          <p class="padding" style="text-align: justify;"> 
      Grazie all'applicazione c'è l'opportunità di guardare il calendario con le diverse attività 
        laboratoriali delle odv coinvolte, c'è uno spazio destinatato alla registrazione dove una volta effettuata è possibile sia fare una RICHIESTA (ove le famiglie, caregiver e persone potranno fare richiesta di laboratori) oppure sarà possibile DONARE IL PROPRIO TEMPO (partecipando alle attività a calendario). 
 

        </p>
  </ion-content>
</ion-view>
