<ion-modal-view >
    <ion-header-bar class="bar-energized">
        <h1 class="title">Profilo</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeProfile()">Chiudi</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <center>
            <p >Profilo Personale</p>  
            <button class="button button-small button-dark" ng-click="logout()">
                Esci/Log Out
            </button>
        </center>

    </ion-content>




</ion-modal-view>
