<ion-view view-title="Il Progetto" class="bg">
    <ion-content>

        <div >

            <center>
                <img src="img/menu-header.png" style="width: 35%" />

            </center>
            <br/><br/>
            <p class="padding" style="text-align: justify;"> 
                La Rete nasce per offrire a famiglie, caregiver e persone  un supporto  
                qualificato attraverso anche l’uso di un’innovativa banca del tempo virtuale.
                L’obiettivo comune di tutte le organizzazione è quello di mettere a sistema 
                saperi ed esperienze e consentire ai propri volontari di specializzarsi ulteriormente nell’assistenza.<br/>
            </p>


        </div>


    </ion-content>
</ion-view>
